<%
  var ads = [
    {
      href: 'http://www.jiankongbao.com/',
      label: 'jiankongbao',
      img_src: '/public/images/jiankongbao-banner-3.jpg',
    },
    {
      href: 'https://coding.net/u/coding/p/marketing/topic/21092?hmsr=cnodejs&hmmd=%E7%A1%AC%E5%B9%BF&hmpl=2000%E6%82%AC%E8%B5%8F&hmkw=&hmci=',
      label: 'coding-net',
      img_src: '//dn-cnode.qbox.me/FiJiyznuIEX1BGx9m8rJ5GcVd4Xp',
    },
    {
      href: 'https://campaign.gitcafe.com/hackspring2015-index',
      label: 'gitcafe',
      img_src: '//dn-cnode.qbox.me/FtzQQ8NoVBOkgC7JY0rd-q1HCQBH',
    },
    {
      href: 'http://qiniu-10.eventdove.com/',
      label: 'qiniu-event',
      img_src: '/public/images/qiniu-banner-1.jpg',
    },
    {
      href: 'https://talk.ai/?s=cnodejs',
      label: 'teambition',
      img_src: '//dn-cnode.qbox.me/FsJ2QW9zAHLvrPgC767PvuMWBkRQ',
    },
  ];

    var randomNum = (new Date()).getHours() % ads.length;

    ads = ads.slice(randomNum).concat(ads.slice(0, randomNum));
%>
<div class='panel'>
  <div class='inner ads'>

    <% ads.forEach(function (adObj, idx) { %>
      <% if (idx !== 0) { %>
        <div class="sep10"></div>
      <% } %>
      <a href="<%-adObj.href%>" target="_blank" class="banner sponsor_outlink"
    data-label="<%=adObj.label%>">
        <img src="<%- staticFile(adObj.img_src) %>">
      </a>
    <% }) %>
  </div>
</div>
